In [ ]:
Que.1. What is DDL?Explain why CREATE,DROP,ALTER & TRUNCATE are used.
Ans: DDL stands for Data Definition Language & refers to SQL commands used to create, modify,& delete database
     structures such as tables,indexes,& views.
CREATE:To create tables in the database.The table gets created as soon as the CREATE TABLE script is executed
       & is ready to hold the data onwards.The user must have the CREATE TABLE system privilege to create the
       table in its own schema.
DROP:The drop() method removes the specified row or column.By specifying the column axis (axis='column'), the
      drop() method removes the specified column.
ALTER: The ALTER command is used to modify,drop or update column in the database.This can lso be used to add a 
       new column into the table using ADD clause.
TRUNCATE: truncate() file method allows the user to resize the file to a given number of bytes when the file 
         is accessed through the append mode.

In [ ]:
Que.2. What is a database? 
Ans: Database-SQL database or relational database is a collection of highly structured tables,wherein
     each row reflects a data entity,& every column defines a specific information field.
     Differentiate between SQL & NoSQL database.
Ans- SQL databases are relational, and NoSQL databases are non-relational. SQL databases use structured 
     query language (SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured
     data. SQL databases are vertically scalable, while NoSQL databases are horizontally scalable

In [ ]:
Que.3.What is DML?Explain INSERT, UPDATE,& DELETE.
Ans: DML: Data Manipulation Language is a type of SQL command used to manipulate data in a database,this is a 
          computer programing language used for inserting,deleting,& updating data in s databse. 
INSERT:add new rows to an existing table of sql using the INSERT statment.
UPDATE:UPDATE statement changes the data of one or more records in a table.
DELETE:used to specify that when a row is deleted from the parent table, all rows in the child table that 
       reference the deleted row should be deleted.

In [ ]:
Que.4.What is DQL? Explain SELECT.
Ans. DQL: DQL statement are used for performing queries on the data with in schema.
SELECT: A SELECT statment retrieves zero or more rows from one or more database tables or database views.

In [ ]:
Que.5.Explain Primary key & Foreign key?
Ans.
Primary key:The PRIMARY KEY constraint uniquely identifies each recird in a table.Primary keys must contain 
            UNIQUE values,& cannot contain NULL values.
Foreign key:is a field in one table,that refers to the PRIMARY KEY in another table.

In [ ]:
Que.6. Write a python code to connect MySql to python.Explain the cursor() & execute() method.

In [ ]:
import mysql.connector

myconn=mysql.connector.connect(host="localhost",user="root",passwd="google",database="mydb")

print(myconn)

cur=myconn.cursor()

print(cur)

In [ ]:
cursor():Cursor are created by the connection.
execute():the fuction will parse & compile the target code into python bytecode.

In [ ]:
Que.7.Give the order of execution of sql clauses in an sql query.
Ans.FROM,WHERE,GROUP BY,HAVING,S