In [ ]:
Que.1.Create a Pandas series that contains the following data: 4,8,15,16,23,& 42.Then, print the series.
Ans.

In [1]:
import pandas as pd

series=pd.Series([4,8,15,16,23,42])
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
Que.2.Create a variable if list type containing 10 elements in it,& apply pandas.Series function on the variable
      print it.
Ans.

In [2]:
import pandas as pd

my_list=[1,2,3,4,5,6,7,8,9,10]

series=pd.Series(my_list)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
Que.3.What is 'DataFrame'in pandas & how is it different from pandas.series.
Ans.In pandas Dataframe is a two-dimentional dara structrue that can strore data with rows & columns,similar to 
    an Excel spreadsheet or a table in a relation database.
    Key difference:
        ` A Series has only one column,while a DataFrame has multiple columns.
        ` A Series is one-dimentional,while a DataFrame is two-dimentional.
        `A Series is similar to a list or a NumPy array, while a dataFrame is similar to a table or a sreadsheet

In [ ]:
Que.4.Create a pandas DataFrame.
Ans.

In [3]:
import pandas as pd

data={'Name':['Alice','Bob','Claire'],'Age':[25,30,27],'Gender':['Female','Male','Female']}
df=pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
Que.5.What are some common functions you can use to manipulate data in a pandas dataframe?Can you give an
      example of when you might use one of these functions?
Ans.Filtering & Selection:
    1.loc[]:select rows & columns by lable(s)
    2.iloc[]:select rows & columns by integer position(s)
    3.quert():filter rows based on a condition
    4.filter():filter columns based on a condition
    
    Sorting & Indexing:
    1.sort_values()
    2.sort_index()
    3.set_index()
    4.reset_index()
    
    Grouping & Aggregating:
    1.groupby()
    2.pivot_table()
    3.agg()
    
    Merging & Joining:
    1.merge()
    2.join()
    3.concat()
    
    Data Cleaning & Transformation:
    1.drop()
    2.fillna()
    3.replace()
    4.astype()
    5.apply()
    
    Data Analysis
    1.describe()
    2.corr()
    3.cov()
    4.value_counts()
    
    Data Transformation
    1.melt()
    2.pivot()
    3.stack()
    4.unstack()

In [7]:
import pandas as pd

df=pd.DataFrame({'Product':['A','B','A','C','B','A'],'Region':['North','North','South','North','South','East'],
                'Sales':[100,200,50,300,150,75]})
df_north=df[df['Region']=='North']

df_north_sorted=df_north.sort_values(by='Sales',ascending=False)

df_grouped=df_north_sorted.groupby('Product')['Sales'].sum().reset_index()
df_pivoted=df.pivot(index='Product',columns='Region',values='Sales')
print(df_pivoted)

Region   East  North  South
Product
A        75.0  100.0   50.0
B         NaN  200.0  150.0
C         NaN  300.0    NaN

In [ ]:
Que.6.Which of the following is mutable in nature Series, DataFrame,Panel?
Ans.DataFrame:mutable
    Series:mutable
    Panel:not mutable

In [ ]:
Que.7.Create a dataframe using multiple series.Explain with an example.
Ans.

In [ ]:
import pandas as pd

series1=pd.Series([1,2,3],name='A')
series2=pd.Series([4,5,6],name='B')
series3=pd.Series([7,8,9],name='C')