In [ ]:
Que.1. Write a code to print data present in the second row of the dataframe,df.

In [1]:
import pandas as pd
course_name=['DataScience','Machine Learing','Big Data','Data Engineer']
duration=[2,3,6,4]
df=pd.DataFrame(data={'course_name':course_name,'duration':duration})
print(df)

       course_name  duration
0      DataScience         2
1  Machine Learing         3
2         Big Data         6
3    Data Engineer         4

In [ ]:
Que.2.What is the difference between the function loc & iloc in pandas.dataframe.
Ans.loc:1.Inclusive of the end index,meaning df.loc[start:end] includes both start & end rows.
        2.Can access rows & columns using conditions,like df.loc[df['column']>value].
    examlpe:df.loc[1,'column_name']or df.loc[1:3,'column_name'].
    Key differences: 
        1.loc uses lables,while iloc uses integer positions.
        2.loc is inclusive of the end index,while iloc is exclusive.
        3.loc allows conditional access,while iloc does not.

In [ ]:
Que.3.Reindex the given dataframe using a variable,reindex=[3,0,1,2]& store it in the variable,new _df then find 
      the output for both new_df.loc[2]&new_df.iloc[2].

In [2]:
import pandas as pd

data={'A':[1,2,3,4],'B':[5,6,7,8]}
df=pd.DataFrame(data)

reindex=[3,0,1,2]
new_df=df.reindex(reindex)

print('New DataFrame:')
print(new_df)

print("\nnew_df.loc[2]:")
print(new_df.loc[2])

print("\nnew_df.loc[2]:")
print(new_df.iloc[2])

New DataFrame:
   A  B
3  4  8
0  1  5
1  2  6
2  3  7

new_df.loc[2]:
A    3
B    7
Name: 2, dtype: int64

new_df.loc[2]:
A    2
B    6
Name: 1, dtype: int64

In [ ]:
Que.4. Write a code to find the following statistical measurement for the above dataframe df1:
       1.Mean of each & every column present in the dataframe.
       2.Standerd deviation of column,'column_2'.

In [3]:
import pandas as pd 

data={'column_1':[1,2,3,4],'column_2':[5,6,7,8]}
df1=pd.DataFrame(data)

print('Mean of each column:')
print(df1.mean())

print("\nStandard deviation of 'column_2': ")
print(df1['column_2'].std())

Mean of each column:
column_1    2.5
column_2    6.5
dtype: float64

Standard deviation of 'column_2':
1.2909944487358056

In [ ]:
Que.5.Replace the data present in the second row of 'column_2' by a string variable then find the mean of column,
      column_2.

In [5]:
import pandas as pd
data={'column_1':[1,2,3,4],'column_2':[5,6,7,8]}
df1=pd.DataFrame(data)

string_var='string'('link unavaliable')[1,'column_2']=string_var

print("Mean of 'column_2':" )
print(df1['column_2'].mean())

<>:5: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
<>:5: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
/tmp/ipykernel_103/964774432.py:5: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  string_var='string'('link unavaliable')[1,'column_2']=string_var
/tmp/ipykernel_103/964774432.py:5: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  string_var='string'('link unavaliable')[1,'column_2']=string_var
/tmp/ipykernel_103/964774432.py:5: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  string_var='string'('link unavaliable')[1,'column_2']=string_var

NameError: name 'string_var' is not defined

In [ ]:
This is because the mean function expects numeric values,but 'column_2' now contains a string.

In [ ]:
import pandas as pd
import numpy as np

data={'column_1':[1,2,3,4],'column_2':[5,6,7,8]}
df1=pd.DataFrame(data)

string_var='string'("link unavalible")[1,'column_2']=string_var

df1['column_2']=pd.to_numeric(df1['column_2'],errors='coerce')

print("Mean of 'column_2':" )
print(df1['column_2'].mean())

In [ ]:
Que.6.What do you understand about the windows function in pandas & list the type of windos function.
Ans.In pandas,the window function allows you to perform calculations over a subset of rows,similar to the window
    function in SQL
There are several types of window functions in pandas:
    1.Rolling
    2.Expanding
    3.Exponential Moving
    4.Resampling
Some common window functions include:
    1.Aggregations:
        -sum
        -mean
        -median
        -min
        -max
        -std
        -var
    2.Transformations:
        -shift
        -diff
    3.Custom functions:
        -apply
        
These window functions can be used to perform various tasks,such as:
    -Moving averages
    -Cumulative sums
     -Rolling regressions
    -Time series analysis
    -Data smoothing

In [ ]:
Que.7.Write a code to only the current month & year at the time answering this quetion use pandas.datetime
      funtion.

In [6]:
import pandas as pd 

current_date=pd.Timestamp('today')
current_month=current_date.month
current_year=current_date.year

print(f"Current Month:{current_month}")
print(f"Current Year:{current_year}")

Current Month:7
Current Year:2024

In [ ]:
Que.8.Write a python program that takes in a two dates as input (in the format YYYY-MM-DD)days,hours & minutes
      using pandas time delta.The program should prompt the user to enter the dates & display the result.

In [7]:
import pandas as pd
date1=input('Enter the first date(YYYY-MM-DD):')
date2=input('Enter the second date(YYYY-MM-DD):')

ts1=pd.Timestamp(date1)
ts2=pd.Timestamp(date2)

delta=ts2-ts1

days=delta.days
hours=delta.seconds//3600
minutes=(delta.seconds//60)%60

print(f"The difference between{date1} & {date2} is:")
print(f"{days} days,{hours} hours,& {minutes} minutes")

Enter the first date(YYYY-MM-DD): 2022-01-01
Enter the second date(YYYY-MM-DD): 2022-01-15

The difference between2022-01-01 & 2022-01-15 is:
14 days,0 hours,& 0 minutes

In [ ]:
que.9.Write a python program reads a CSV file containing categorical data & converts a specified column to a 
      categorical data type.The program should prompt the user to enter the file path,column name,& category
      order & then display the stored data.

In [ ]:
import pandas as pd
file_path=input('Enter the CSVfile path:')

df=pd.read_csv(file_path)
column_name=input('Enter the column name to convert to categorical:')

category_order=[x.strip() for x in category_order.split(",")]

df[column_name]=pd.Categorical(df[column_name],categories=category_order,ordered=True)
print(df)

In [ ]:
Que.10.Write a python program that reads a CSV file containing sclaes data for different products & visualizes 
       the data using a stacked bar chart to show the sales of each product category over time.the program 
       should prompt the user to enter the file path & display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

file_path=input('Enter the CSV file path:')
df=pd.read_csv(file_path)

pivot_df=df.pivot_table(index='Date',columns='Product',values='Sales',aggfunc='sum')
pivot_df.plot(kind='bar',stacked=True,figsize=(10,6))

plt.title('Sales by Product Category over Time')
plt.xlabel('Date')
plt.ylabel()